*{
    font-size: medium;
}
input{
    text-align: right;
    margin: 2.5px;
    height: 40px;
    width: 300px;
}
button{
    background-color: darkred;
    color: white;
    margin: 5px;
    width: 75px;
    height: 25px;
}
:disabled{
    background-color: rgba(128, 128, 128, 0.281);
}
